#title{
	text-align: center;
	font-family: "黑体";
	font-size: 40px;
	color: #5c6bc0;	
}
.table{
	color:#fafafa;
	font-family: "Microsoft YaHei";
	font-size: 13px;
	text-align: center;
	padding: 0;
}
.class-title1{
	width: 65px;
	height: 50px;
	background-color: #e0e0e0;
	color: #3f51b5;
}
.class-week{
	width: 150px;
	height: 50px;
	background-color: #e0e0e0;
}
.class-morning{
	width: 150px;
	height: 140px;
	background-color: #0091ea;

}
.class-afternoon{
	width: 150px;
	height: 140px;
	background-color: #ff6e72;
}
.class-night{
	width: 150px;
	height: 140px;
	background-color: #66bb6a;
}
.class-week-title{
	width: 75px;
	height: 30px;
	background-color: #d6f3fe;
}
.class-weekend{
	width: 75px;
	height: 140px;
	background-color: #d6f3fe;
}
.head{
	color:#3949ab;
	font-size: 20px;
}
thead{
	color: #536dfe;
	font-size: 15px;
}
#nobgcolor{
	background-color: #f5f5f5;
}
#nocolor1,#nocolor2,#nocolor3,#nocolor4,#nocolor5,#nocolor6,#nocolor7,#nocolor8,#nocolor9,#nocolor10,#nocolor11,#nocolor12,#nocolor13,#nocolor14,#nocolor15{
	background-color: #fafafa;
}
#conner{
	width: 20px;
	height: 20px;
	float:right;
}